html, body {
    background-image: linear-gradient(#ffd1dc, #ffebef);
    background-attachment: fixed;
    color: #1d1d1d;
    font-family: 'PT Serif', serif;
    font-size: 19px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-right: 40px;
    padding-top: 20px;
    
}

/* nav bar and media bar style */
.nav-item {
    text-decoration: none;
    width: 40px;
}

/* .drawing:hover {
    transform: scale(1.1);
    cursor: pointer;
} */

.drawing:hover {
    cursor: crosshair;
}

.logo {
    width: 150%;
    height: auto;
}

.logo:hover {
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
}

.hello-btn {
    width: 250%;
    height: auto;
}

.hello-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.bible {
    width: 160%;
    height: auto;
}

.laptop {
    width: 200%;
    height: auto;
}

.laptop:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.shoe {
    width: 150%;
    height: auto;
}

.heart {
    width: 200%;
    height: auto;
}

.heart:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.plane {
    width: 200%;
    height: auto;
}

.phone {
    width: 110%;
    height: auto;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 40px;
}

.greeting {
    font-size: 27px;
    margin-top: 0px;
}

.media-item {
    text-decoration: none;
    width: 40px;
    margin: 50px 30px 0px 30px;
}

.media-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 40px;
}

.media-pics:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.linkedin {
    width: 65%;
    height: auto;
}

.instagram {
    width: 75%;
    height: auto;
}

.facebook {
    width: 40%;
    height: auto;
}

.mail {
    width: 85%;
    height: auto;
}

.phone-logo {
    width: 50%;
    height: auto;
}

#phone-number {
    width: 25%;
    height: auto;
}


.link {
    text-decoration: none;
    color: #1d1d1d;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300px;

}

span:hover {
    font-style: italic;
    /* color: #4D7DFF; */
    color: #0045ff;
    font-size: 19px;
}


/* stuff that is unique to this page */

.middle-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 55px;
}

.image-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 55px; 
    font-size: 26px;
    letter-spacing: 5px;
}

.pics {
    width: 300px;
    height: 300px;
}

.pics:hover {
    transform: scale(1.05);
    transition-duration: .6s;
}

.image-card-text {
    text-align: center;
    padding-top: 20px;
}

.image-card-text:hover {
    opacity: 0.7;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 50px 0px 30px 130px;

}
